*.linkinfo
*.o
*.orig
*.pyc
*.pyo
*.sw?
*~
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
.noseids
*.DS_Store
*.bak
.idea
data/*
!data/face
!data/coco
data/face/*
data/coco/*
!data/face/placeholder
!data/coco/placeholder
models/modelzoo/*
!models/modelzoo/*.sh
models/face/*
!models/face/*.config
